:root {
    --blue-200: #bfdbfe;
    --blue-600: #2563eb;
    --gray-50: #f9fafb;
    --green-500: #10b981;
    --green-600: #059669;
    --purple-600: #9333ea;
    --red-600: #dc2626;
  }

  html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    background-color: var(--gray-50);
}

.sectionOne .githubContainer{
    border-bottom: 2px solid var(--blue-600);
    box-shadow: 0 1px 5px var(--blue-200);
}

.githubContainer .githubIcon{
    padding: 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  border-left: 2px solid var(--blue-600);
}

.sectionOne .githubContainer .githubIcon{
    font-size: 2rem;
    color: var(--green-600);
}

.sectionOne .imageTextContainer, #sectionTwo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.sectionOne .imageTextContainer{
    flex-wrap: wrap;
}

#sectionTwo{
    flex-wrap: wrap-reverse;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.sectionOne .imageTextContainer :is(.imageContainer, .textContainer),#sectionTwo :is(.textContainer, .imageContainer){
    max-width: 35rem;
}

.sectionOne img,#sectionTwo img{
    max-width: 370px;
    height: auto;
}

.sectionOne .imageTextContainer .textContainer, #sectionTwo .textContainer{
    padding: 0.3rem 1rem;
}

#sectionTwo .textContainer{
    padding-bottom: 2rem;
}

.sectionOne .imageTextContainer .textContainer h3{
    font-size: 2.3rem;
    color: var(--blue-600);
}

#sectionTwo .textContainer h3{
    font-size: 2.3rem;
    color: var(--blue-600);
}

.sectionOne .imageTextContainer .textContainer h3 span, #sectionTwo .textContainer h3 span{
    color: var(--green-600);
}

.sectionOne .imageTextContainer .textContainer p{
    font-size: 1.1rem;
    color: var(--blue-600);
    margin: 1.4rem 0rem;
}

#sectionTwo .textContainer p{
    font-size: 1.1rem;
    color: var(--blue-600);
    margin: 1.4rem 0;
}

.sectionOne .imageTextContainer .textContainer .scrollDown{
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid var(--green-600);
    background-color: var(--blue-600);
    color: white;
    padding:  0.3rem 0.5rem;
    cursor: pointer;
    margin: 1rem 0;
    text-decoration: none;
}

#sectionTwo .textContainer .checkPalindrome{
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid var(--green-600);
    background-color: var(--blue-600);
    color: white;
    padding:  0.3rem 0.5rem;
    cursor: pointer;
    margin: 1rem 0;
}

.sectionOne .scrollDown:hover{
    background-color: #59a4ff;
}

#sectionTwo .textContainer .checkPalindrome:hover{
    background-color: #59a4ff;
}

#sectionTwo .textContainer .checkPalindrome{
    margin: 1rem 0;
}

#birthdayInput{
    display: block;
    font-size: 1.2rem;
    font-family: monospace;
    margin: 1rem auto;
    border-radius: 15px;
    border: 2px solid var(--blue-600);
    padding: 0.2rem 0.5rem;
}

#sectionTwo .textContainer .output{
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
}

#footer{
    width: 100%;
    min-height: 6vh;
    background-color: rgba(219, 247, 213, 0.835);
}
.footer-list{
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.list-item{
    list-style: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}
